@forward './base/variables';
@forward './base/mixins';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  color: #462c50;
  background: #e1dfe3;
  padding: 0 1em;
  margin: 0;
  overflow-y: scroll;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
  width: 1030px;
  text-align: left;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
